<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Login page {% endblock %}</title>
</head>

<body>
    <main>
        {% block content %}
            <h1> Login as User </h1>
            <form action="{% url 'user_auth:authenticate_user' %}" method="post">
                {% csrf_token %} 

                <label>Username</label>
                <input type="text" name="username" placeholder="User" required>
                <br/><br/>

                <label>Password</label>
                <input type="password" name="password" required>
                <br/><br/>

                <button type="submit">Log In</button><br><br>
            </form>
        {% endblock %}
        

    </main>
    <a href="{% url 'user_auth:register_view'%}">REGISTER NEW_USER</a> 
</body>    
</form>
</html>
