<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <main>
        <h1>Register</h1>
        <form action="{% url 'user_auth:register_view' %}" method="post">
            {% csrf_token %}
            <label>Username</label>
            <input type="text" name="username" required>
            <br/><br/>

            <label>Email</label>
            <input type="email" name="email" required>
            <br/><br/>

            <label>Password</label>
            <input type="password" name="password" required>
            <br/><br/>

            <label>Confirm Password</label>
            <input type="password" name="confirm_password" required>
            <br/><br/>

            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'user_auth:login' %}">Login here</a></p>
    </main>
</body>
</html>
